.cart__item-info img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.cart__item:hover {
  background-color: rgba(249, 115, 22, 0.05); /* Very light primary color */
  cursor: pointer;
}

.cart__product-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.cart__product-price {
  font-size: 0.8rem;
}

.cart__product-price span {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color);
}

.increase__decrease-btn {
  background: var(--accent-color);
  padding: 2px 5px;
  border-radius: 5px;
  color: var(--secondary-color);
}

.increase__btn,
.decrease__btn {
  cursor: pointer;
}

.delete__btn {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.cart__item {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--accent-color);
}

@media only screen and (max-width: 576px) {
  .delete__btn {
    font-size: 1rem;
  }
}
