th {
  text-align: center;
}

.cart__img-box {
  width: 80px;
}

.cart__img-box img {
  width: 100%;
}

.cart__item-del i {
  cursor: pointer;
  color: var(--secondary-color);
}

.cart__page-btn {
  display: flex;
  flex-wrap: nowrap;
  margin: 2rem 0;
}

.cart__page-btn button a:hover {
  color: var(--white);
}

.cart__subtotal {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.addTOCart__btn {
  border: none;
  padding: 7px 25px;
  background: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.addTOCart__btn:hover {
  background: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
  th,
  td {
    font-size: 0.8rem;
  }
}
