.product__item {
  border: 1px solid var(--accent-color);
  text-align: center;
  padding: 30px;
  cursor: pointer;
  height: 100%;
  min-height: 19rem;
  transition: 0.3s;
}

.product__item:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.product__img {
  margin-bottom: 20px;
  transition: 0.4s;
}

.product__img:hover {
  transform: scale(1.1);
}

.product__content h5 a {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.product__content h5 {
  margin-bottom: 30px;
}

.product__price {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.addTOCART__btn {
  border: none;
  padding: 7px 25px;
  background: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.addTOCART__btn:hover {
  background: var(--secondary-color);
}

@media only screen and (max-width: 992px) {
  .product__content h5 a {
    font-size: 0.8rem;
  }
  .product__item {
    padding: 20px;
  }
  .addTOCart__btn {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
}
