/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #f97316; /* Modern Orange */
  --secondary-color: #212245; /* Dark Blue/Slate */
  --accent-color: #fde4e4;
  --text-color: #212245;
  --body-bg: #fcfcfc;
  --white: #fff;
  --error-color: #df2020;
}

/* reset default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base style */
body {
  background: var(--body-bg);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

section {
  padding: 60px 0px;
}
